<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
     <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    
    <title>ShopZone - {% block title %}{% endblock %}</title>


    {% block css %}{% endblock %}
    <style>
   
</style>

</head>
<body>
    {% include 'partials/_navbar.html' %}
    
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>
    
    {% include 'partials/_footer.html' %}
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>